* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: black;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

div.nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid grey;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  font-size: 17px;
  font-weight: 500;
}

.container-left{
  display: flex;
  align-items: center;
}

 .profile-container #profile img {
  margin: 20px;
  width: 40px;
  height: 40px;

}

.nav-btn ul {
  display: flex;
  list-style: none;
}

.nav-btn li {
  margin-left: 70px;
}

.nav-btn img {
  height: 30px;
  display: none;
}
.click {
  height: 50px;
  width: 50px;
  margin-left: 40px;
  border-radius: 50%;
}

.click,
.links {
  transition: 0.5s;
}

.list {
  background-color: #fff;
  position: absolute;
  right: 20px;
  top: 60px;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s;
  width: 100px;
}

div.list{
  border: 1px solid rgb(133, 126, 126);
  margin-top: 5px;
  margin-bottom: 5px;
}

.links {
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.click:hover {
  cursor: pointer;
}

.newlist {
  transform: scaleY(1);
}

.links:hover {
  /* transform: scale(1.1); */
  background-color: rgba(128, 128, 128, 0.263);
}

#lg {
  height: 40px;
  padding-left: 30px;
  margin-right: 10px;
}

.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
}

#profile {
  display: flex;
  list-style: none;
}

img#cont{
  /* width: 40px;
  height: 40px; */
  display: none;
}

.main-container {
  display: flex;
  width: 100%;
  margin-top: 65px;
}

.left-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 94vh;
  background-color: #ccebff;
  width: 5%;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}

.left-div h4 {
  margin-top: 10px;
  font-size: 18;
  padding: 5px;
  margin: 10px;
}

.left-div h4:hover {
  background-color: #f7f7f7;
  border: 1px solid #009dff;
}

.mid-div {
  background-image: url("A1.png");
  height: 94vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
}

.right-div {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #f7f7f7;
}

* select {
  padding: 15px;
  border-radius: 5px;
  margin-left: 20px;
  width: 70%;
  border: 2px solid #e5f5ff;
  margin-top: 8px;
  margin-bottom: 10px;
}

#work {
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

* label {
  font-weight: 600;
  margin-left: 20px;
}

#sub {
  margin-left: 20px;
  width: 100px;
  margin-top: 10px;
}

#dates {
  padding: 15px;
  border-radius: 5px;
  margin-left: 20px;
  width: 70%;
  border: 2px solid #e5f5ff;
  margin-top: 8px;
  margin-bottom: 10px;
}

.alert {
  margin: 5px;
  display: block;
  color: red;
  border-radius: 2px;
  font-size: 18px;
  margin-left: 22px;
}

/* --> Desks <<-- */

* h6 {
  font-size: 18px;
  background-color: #009dff;
  height: 25px;
  width: 25px;
  border-radius: 8px;
  text-align: center;
}

.desk1 {
  position: relative;
  left: 65px;
  top: 301px;
}

.desk2 {
  position: absolute;
  left: 244px;
  bottom: 121px;
}

.desk3 {
  position: absolute;
  bottom: 119px;
  left: 482px;
}

.desk4 {
  position: absolute;
  bottom: 121px;
  right: 807px;
}

.desk5 {
  position: absolute;
  bottom: 119px;
  right: 442px;
}

.desk6 {
  position: absolute;
  top: 557px;
  left: 584px;
}
/* 
@media only screen and (max-width: 1440px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: black;
  }

  a {
    text-decoration: none;
  }

  div.nav {
    display: flex;
    height: 80px;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0;
    background-color: #ffffff;
  }

  .nav-btn {
    display: flex;
  }

  .nav-btn ul {
    display: flex;
    list-style: none;
    margin-right: 600px;
  }

  .nav-btn li {
    margin-left: 70px;
  }

  .nav-btn img {
    height: 40px;
  }

  .click {
    height: 50px;
    width: 50px;
    margin-left: 40px;
    border-radius: 50%;
  }

  .click,
  .links {
    transition: 0.5s;
  }

  .list {
    position: absolute;
    right: 22px;
    top: 60px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
    border: 2px black;
  }

  .links {
    display: flex;
    width: 65px;
    padding: 12px;
    margin: 2px;
  }

  .click:hover {
    cursor: pointer;
  }

  .newlist {
    transform: scaleY(1);
  }

  .links:hover {
    transform: scale(1.1);
  }

  #lg {
    height: 70px;
    padding-left: 30px;
    margin-right: 10px;
  }

  .profile-container {
    display: flex;
    align-items: center;
  }

  #profile {
    display: flex;
    list-style: none;
  }

  .profile-container img {
    width: 40px;
    height: 40px;
  }
}

.main-container {
  display: flex;
  width: 100%;
}

.left-div {
  height: 94vh;
  background-color: #ccebff;
  width: 5%;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}

.left-div h4 {
  margin-top: 10px;
  font-size: 18;
  padding: 5px;
  margin: 10px;
}

.left-div h4:hover {
  background-color: #f7f7f7;
  border: 1px solid #009dff;
}

div.mid-div {
  background-image: url("A1.png");
  height: 94vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-div {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #f7f7f7;
}

* select {
  padding: 15px;
  border-radius: 5px;
  margin-left: 20px;
  width: 70%;
  border: 2px solid #e5f5ff;
  margin-top: 8px;
  margin-bottom: 10px;
}

#work {
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

* label {
  font-weight: 600;
  margin-left: 20px;
}

#sub {
  margin-left: 20px;
  width: 100px;
  margin-top: 10px;
}

#dates {
  padding: 15px;
  border-radius: 5px;
  margin-left: 20px;
  width: 70%;
  border: 2px solid #e5f5ff;
  margin-top: 8px;
  margin-bottom: 10px;
}

.alert {
  margin: 5px;
  display: block;
  color: red;
  border-radius: 2px;
  font-size: 18px;
  margin-left: 22px;
}

/* --> Desks <<-- */

* h6 {
  font-size: 18px;
  background-color: #009dff;
  height: 25px;
  width: 25px;
  border-radius: 8px;
  text-align: center;
}

.desk1 {
  position: relative;
  left: 65px;
  top: 301px;
}

.desk2 {
  position: absolute;
  left: 244px;
  bottom: 121px;
}

.desk3 {
  position: absolute;
  bottom: 119px;
  left: 482px;
}

.desk4 {
  position: absolute;
  bottom: 121px;
  right: 807px;
}

.desk5 {
  position: absolute;
  bottom: 119px;
  right: 442px;
}

.desk6 {
  position: absolute;
  top: 557px;
  left: 584px;
} 