.container {
    justify-content: center;  
    display: flex;
}

.cont-1{
    background-image: url("images/325945138_665462758703524_520291871664463704_n.jpg");
    height: 500px;
    width: 100%;
    background-position: center;
}

.cont-1-1{
    background-color: lightgray  ;
    height: 500px;
    width: 100%;
    opacity: 90%;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;
}

#contact-form .form-group {
    margin-top: 30px;
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px; 
}

#contact-form input,
#contact-form textarea {
    width: 1000px;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color:#f7c08a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.text-primary{
    margin-top: 40px;
    font-size: 100px;
}

.header{
    font-size: 50px;
}

a {
    text-decoration: none;
}

div.nav {
    height: 80px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  1px solid grey; 
}

.click {
    height: 50px;
    width: 50px;
    margin-left: 40px;
    border-radius: 50%;
}

.click, .links {
    transition: 0.3s;
}

.list {
    position: absolute;
    right: 22px;
    top: 60px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    border: 2px black;
}

.links {
    display: flex;
    width: 65px;
    padding: 12px;
    margin: 2px;
}

.click:hover {
    cursor: pointer;
}

.newlist {
    transform: scaleY(1);
}

.links:hover {
    transform: scale(1.1);
}

#lg {
    height: 70px;
    padding-left: 30px;
    margin-right: 10px;
}

#profile-container {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

span {
    font-weight: 600;
    font-size: 18px;
}

#faq {
    margin-right: 800px;
    
}

div.left-side {
    width: 30%;
    display: flex;
    justify-content: center;
}

div.left-container {
    width: 100%;
    padding-top: 20px;
}

input {
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    border-width: 1px;
    width: 60%;
    padding-left: 20px;
}

button {
    padding: 10px;
    border-radius: 8px;
    background-color: antiquewhite;
    border-style: none;
    cursor: pointer;
    width: 25%;
    font-weight: 600;
}

hr {
    width: 100%;
}


div.right-side {
    width: 70%;
    background-color: blue;
}

div.main-container {
    display: flex;
    height: 94vh;
}

#fl1 {
    width: 100%;
    height: 100%;
}

.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer-copyright{
    font-size: 30px;
}

.box {
    width: 20%;
    padding: 30px;
    font-size: 20px;
}

.box i {
    margin-bottom: 10px;
}



