/* im */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
}

div.nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  1px solid grey; 
    position: fixed;
    /* background-color: #fff; */
    top: 0;

}

#lg {
    height: 40px;
    padding-left: 30px;
    margin-right: 10px;
    cursor: pointer;
}

#right-side {
    display: flex;
    align-items: center;
}

div#right-side:hover {
    color: #0d6efd;
    background-color: #E5F5FF;
    font-weight: bold;
}

h6 {
    margin-right: 12px;
}

.btn {
    font-weight: 500;
    font-size: 17px;
    padding-right: 30px;
    border: none;
}

.dropdown-menu{
    margin-top: 20px;

}

.mid-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 60px;
    height: 100vh;
    width: 100%;
    background-image: url("—Pngtree—background biru keren dan polos_1720583.png");
    background-size: fill;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, #2a42a143, #0c72e7ec);
}

.big-txt{
    margin-left: 120px;

}

.big-txt h1 {
    font-size: 50px;
    font-weight: 600;
}

.big-txt p{
    color: #000;
}

.big-txt button {
    margin-top: 20px;
    left: 458px;
    margin-bottom: 20px;  
    padding: 10px;
    border-radius: 30px;
    background-color: #3256e7;
    border-style: none;
    cursor: pointer;
    width: 25%;
    font-weight: 600;
    color: #fff;
    transition: .3s;
    
}

.big-txt button:hover{
    transform: translateY(-5px);
    background:  #3e28c0;   
}

.img-hero{
    margin-right: 100px;
}


.self{

    text-align: center;
    width: 100%;
    height: 107vh;
    padding-top: 65px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    
}

.self h1{
    font-size: 36px;
    font-weight: 600;
    margin-top: 40px;

}
.self p{
    color: rgb(99, 100, 110);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;  
}

.row{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}

.column-col{
    flex-basis: 31%;
    background: rgb(131, 170, 221);
    border-radius: 10px;
    margin: 10px;
    margin-top: -2.5%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.column-col img{
    width: 250px;
    height: 200px;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.column-col:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.2);

}
.hero-btn1{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid #ffff;
    border-radius: 30px;
    padding: 10px 30px;
    margin-bottom: 10px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 9%;
}

.hero-btn1:hover{
    border: 1px solid #ffffff;
    background: white;
    transition: 1s;
}
.column-col ul{
    text-align: justify;
    margin-left: 15%;
    text-align: start;

}


/* m */
.services{
    background-color: #E5F5FF;
    background-image: #ffffffb3,linear-gradient(rgb(160, 180, 235)),url(/img/aditya-saxena-_mIXHvl_wzA-unsplash.jpg);
    padding: 2rem 1rem;
  }
  .services .title{
    text-align: center;
  }
  .title h1{
    /* font-size: 2rem; */
    text-transform: capitalize;
  }
  .title span{
    color: #183A88;
  }
  .title .slogan{
    font-size: 1rem;
    color: gray;
  }
  .services_boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .box{
    width: 330px;
    background: #fff;
    padding: 2rem;
    margin: 1rem 2rem;
    text-align: center;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 1px 30px 20px rgba(0, 0, 0, 0.1);
  }
  .box i{
    font-size: 4rem;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
  }
  .box h1{
    font-weight: 500;
  }
  .box p{
    color: gray;
    margin-top: 10px;
  }
  .box:hover{
    border: 2px solid rgb(98, 108, 206);
  }

  @media screen and (max-device-width:1440px), screen and (max-width:900px){

  }
  
  @media screen and (max-device-width:1366px), screen and (max-width:768px){
  
  }
  
  @media screen and (max-device-width:769px), screen and (max-width:1024px){
      .mid-container {
        flex-wrap: wrap;
        text-align: center; 
          
      }
  
      .big-txt{
          margin: 20px;
          margin-top: 40px;
          text-align: center;      
      }

      .self{
           height: auto;

      }

      .self h1{
        margin-top: 10px;
      }

      .services_boxes{
        flex-wrap: wrap;
        align-items: center;
    }


  

  }
  
  @media screen and (max-device-width:1280px), screen and (max-width:720px){
      .mid-container {
        flex-wrap: wrap;
        text-align: center; 
       
          
      }
  
      .big-txt{
          margin: 20px;
          margin-top: 40px;
          text-align: center;      
      }

      .self{
        height: auto;

      }

      .self h1{
        margin-top: 10px;
      }
      .services_boxes{
        flex-wrap: wrap;
        align-items: center;
    }


  

      
    
  }
  
  @media screen and (max-device-width:481px), screen and (max-width:768px){
      .mid-container {
          flex-wrap: wrap;
          
      }
  
      .big-txt{
          margin: 20px;
          margin-top: 40px;
          text-align: center;      
      }
  
      .big-txt h1{
          font-size: 35px;
      }
  
      .big-txt p{
          margin-top: 20px;
      }
  
      .big-txt button{
          width: 40%;
      }
  
      .img-hero{
          margin: 10px;
          text-align: center;
          
      }
  
      .img-hero img{
          width: 100%;
      }

      .self{
        height: auto    ;

      }

      .self h1{
        margin-top: 10px;
      }

      .row {
        align-content: center;
        justify-content: center;
    }

    .services_boxes{
        flex-wrap: wrap;
        align-items: center;
    }
  
  
  }
  